@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Michroma&display=swap');

*, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #101010;
    min-height: 100vh;
}
.serif-400, .serif-600, .serif-800{
    color: #EDF2F4;
}
.serif-800{
    font-family: "Cabinet Grotesk 800";
    font-size: 8ch;
}
.p-font{
    font-family: 'Lato', sans-serif;
    font-size: 3ch;
    color: #EDF2F4;
}
.h-font{
    font-family: "Michroma";
    font-size: 17ch;
    color: #EDF2F4;
}
.b-font{
    font-family: "Lato";
    font-size: 2.5ch;
    color: #EDF2F4;

}
.logo{
    margin: 3.25em 0em;
}
.bg-img{
    position: fixed;
    top: -10%;
    z-index: -10;
}
.landing-page{
    min-height: 70vh;
}
.hero-logo-wrapper{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    margin: 6.25em 0em;
}
.hero-logo{
    width: fit-content;
}
.tagline{
    font-weight: 400;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 10em;
}
.cta-btn{
    background: #9EF4F9;
    border-radius: 10px;
    font-size: 3ch;
    line-height: 4ch;
    color: #1A1D1D;
    padding: 0rem 1.5rem;
    text-decoration: none;
}
.social-text{
    text-align: center;
    margin-bottom: 6.25em;
}
.social-text h3{
    font-size: 8ch;
    margin-bottom: 1.5em;
}
.social-text p{
    font-size: 4ch;
}
.social-text span, .social-text a{
    color: #F28705;
    text-decoration: none;
}

//Exchange
.exchange-inner-section{
    display: flex;
}
.high-card{
    border: 2px solid;
    padding: 2em 1em;
}

.high-card .eve-dt p{
    font-size: 1.5ch;
    text-align: center;
}
.card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.row1, .row2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.total{
    text-align: center;
}
.long-row-eves .long-eve{
    display: flex;
    gap: 3em;
    border: 2px solid;
    padding: .5em 2em;
}
.long-odds{
    display: flex;
    gap: 1em;
}

.ex-hero-text{
    position: relative;
    left: 25%;
    width: fit-content;
    font-size: 10ch;
    min-height: 75vh;
    line-height: 111px;
    letter-spacing: 0.06em;
}

.all-events{
    display: flex;
}


.p-sect-title{
    margin: 1em 3.25em;
}
.p-msg{
    text-align: center;
}
.p-bets-btn{
    font-size: 2ch;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
}

.about-container{
    margin-bottom: 3em;
}
.a-sect-title{
    margin: 1em 0em 0em 3em;
}
.about-body{
    font-size: 3ch;
    margin: 0em 6em 0em 6em;
}
.about-body a{
    text-decoration: none;
    color: #F28705;
}