header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 3em;
}
.right-nav{
    display: flex;
    gap: 1.5em;
    align-items: center;
}
.nav-ele{
    font-size: 2.5ch;
    cursor: pointer;
    text-decoration: none;
}

// .cat-sect{
//     margin: 1em 6.25em 3.25em 6.25em;
//     min-height: 60vh;
// }
// .cat-sect h4{
//     margin-bottom: 1.5em;
// }
// .cat-wrapper{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
//     gap: 3em;
// }
// .cat-ele{
//     background: linear-gradient(267.59deg, rgba(85, 221, 224, 0.33) 2.63%, rgba(242, 135, 5, 0.33) 98.6%);
//     min-width: fit-content;
//     width: 30em;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 3em;
//     padding: .5em 3em;
//     border: 4px solid #009DB2;
// }
// .cat-icon-container{
//     padding: 1em;
//     background: linear-gradient(180deg, #EDF2F4 0%, rgba(237, 242, 244, 0) 100%, rgba(237, 242, 244, 0) 100%);
//     filter: drop-shadow(0px 4px 4px rgba(242, 135, 5, 0.25));
//     width: 114px;
//     height: 114px;
//     border-radius: 50%;
// }
// .cat-icon-container img{
//     width: 80px;
// }
// .cat-ele-title{
//     font-size: 3ch;
// }

.category-wrapper{
        height: 100vh;
        background-color: #292929;
        border: 1px solid #57FBFF;
        border-radius: 10px;
        padding: 3rem 2rem;
        margin-left: 4rem;
}
.category-wrapper{
    ul{
        list-style-type: none;
        margin-top: 3rem;
    }
    li{
        margin: 1.5rem 2.5rem 1.5rem 2.5rem;
    }
    a{
        text-decoration: none;
        color: #EDF2F4;
    }
}

// Events

.betting-events-wrapper{
    padding: 1.5rem 1.25rem 3.25rem 1.25rem;
}
.sect-title{
    margin-bottom: 1.5em;
}
.bet-events{
    margin-bottom: 6.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}
.bet-event{
    background: linear-gradient(180deg, rgba(85, 221, 224, 0.5) 23.96%, rgba(242, 135, 5, 0.5) 100%);
    box-shadow: 15px 15px 15px rgba(242, 135, 5, 0.25);
    min-width: fit-content;
    width: 80vw;
    padding: 2em 3em;
}
.bet-event h4{
    text-align: center;
}
.h-odds-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-block .h-odds, .home-block .odds-bet-amt{
    border: 2px solid #55DDE0;
}
.away-block .h-odds, .away-block .odds-bet-amt{
    border: 2px solid #F28705;
}
.home-block .h-odds, .home-block .odds-bet-amt, .away-block .h-odds, .away-block .odds-bet-amt{
    min-width: fit-content;
    width: 7.5em;
    padding: .5em 1em;
    margin: 1em 0em;
    text-align: center;
    cursor: pointer;
}

.open-bet-details{
    width: fit-content;
    padding: 3em 3em;
    display: flex;
    justify-content: center;
    gap: 2em;
    min-height: fit-content;
}

.h-block{
    display: none;
}

// Expended bet details

.opened-event-wrapper{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #009DB2;
    opacity: .7;
}
.bet-event-opened{
    background: linear-gradient(180deg, rgba(85, 221, 224, 1) 23.96%, rgba(242, 135, 5, 1) 100%);
    box-shadow: 15px 15px 15px rgba(242, 135, 5, 0.25);
    width: fit-content;
    padding: 3em 3em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 2em;
    min-height: fit-content;
}
.open-bet-details{
    .h-odds, .odds-bet-amt{
        margin: 0;
    }
    .vs{
        align-self: center;
    }
    .highest-odds-home{
        background-color: #009DB2;
    }
    .highest-odds-away{
        background-color: #F28477;
    }
}

.btn{
    border: 2px solid #009DB2;
    width: fit-content;
    padding: 1em 2em;
    cursor: pointer;
}

.betslip-wrapper{
    position: fixed;
    width: 100vw;  
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .5);
    top: 0;
    left: 0;
    visibility: hidden;
}
.betslip-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(104.46deg, #012E40 0%, #1C342E 45.83%, #A75C00 100%);
    box-shadow: 15px 15px 15px rgba(242, 135, 5, 0.25);
    width: fit-content;
    padding: 3em 6em;
    visibility: hidden;
}
.betslip-closed{
    visibility: visible;
}
.betslip-container{
    input{
        font-size: 3ch;
        background-color: transparent;
        border: 2px solid #55DDE0;
        padding: .5em 1em;        
    }
    button{
        width: 100%;
    }
}

.wallet-btn{
    font-size: 2ch;
}

.succ-pop{
    position: fixed;
    top: -10em;
    left: 50%;
    z-index: 20;
    background: linear-gradient(180deg, rgba(85, 221, 224, 1) 23.96%, rgba(242, 135, 5, 1) 100%);
    box-shadow: 15px 15px 15px rgba(242, 135, 5, 0.25);
    padding: 1em 2em;
    border-radius: 10px;
    transform: translateX(-50%);
    transition: top .3s ease;
}

.succ-wrap{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -200vh;
    left: 0;
    z-index: 15;
}
.succ-open{
    top: 1em;
}